<div class="container">

    <div class="row">
      <div class="col-sm-8">
        <h2 class="mt-4">Hey there!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
        <br>
        <h5> 15-16 April 2018</h5>
        <p>The heart of india,New Delhi</p>
         <p>
          <a class="btn btn-primary" id="btn" href="#">Ticket Request &raquo;</a>
        </p>
      </div>
      <div class="col-sm-4">
          <div class="card" id="card-1" style="width: 18rem;">
              <div class="card-body">
                  <h4 class="mt-4">Are you ready for change?</h4><br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum</p>
                  <p>
                      <a class="btn btn-primary" id="btn1" href="#">Ticket Request &raquo;</a>
                    </p>     
              </div>
            </div>
      </div>
    </div>

    <div id="winner">

        <div class="row">
            <div class="col-sm-3 my-5">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
           <div class="col-sm-3 my-5">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
            </div>
            <div class="col-sm-3 my-5">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
              </div>
            </div>
       </div>

       <div>
          <!-- <img src="../assets/emma.jpg" class="img-rounded" alt="Cinque Terre"> -->

       </div>



    </div>
